/* Color Palatte */

$black: #5c5c5c;

$primary_lightest: #ebfefb;
$primary_lighter: #d8f6f2;
$primary_light: #afece3;
$primary: #86e2d5;
$primary_dark: #5dd8c7;
$primary_darker: #34ceb8;

$pink_lighter: #ffecee;
$pink_light: #fdc8cc;
$pink: #fc969f;
$pink_dark: #fa727f;
$pink_darker: #f75261;

$yellow_lighter: #fff8ec;
$yellow_light: #ffe8c0;
$yellow: #ffda97;
$yellow_dark: #ffcd74;
$yellow_darker: #ffc254;

/* End Color Palatte */