<!DOCTYPE html>
<html>
  <head>
      <meta http-equiv="Content-type" content="text/html; charset=utf-8">
      <meta name="viewport" content="width=device-width">
      <meta name="apple-mobile-web-app-capable" content="yes">
      
      <title>Tatermelon</title>
      
      <link href="../img/favicon.ico" rel="icon" type="image/x-icon">
      
      <link href="../stylesheets/screen.css" media="screen, projection" rel="stylesheet" type="text/css" />
      <link href="../stylesheets/print.css" media="print" rel="stylesheet" type="text/css" />
      <!--[if IE]>
          <link href="../stylesheets/ie.css" media="screen, projection" rel="stylesheet" type="text/css" />
      <![endif]-->
  </head>

  <body>

    <div id="content">

      <div id="header-content">
        <div id="top-banner"></div>
        <div class="header">
          <a href="/" class="logo">Tatermelon</a>

          <div class="header-links">
            <!-- <a href="#" class="header-link">Photography</a> -->
            <!-- <a href="#" class="header-link">Projects</a> -->
            <!-- <a href="#" class="header-link">About</a> -->
            <a href="#" class="header-link">Contact</a>
          </div>
        </div>
      </div>

      <div id="contact" class="content-page">
        
        tatermelon@gmail.com

        codepen

        linked in
      </div>
      
    </div>
  </body>
</html>