#about {
  @include box-sizing(border-box);
  padding: 0 5rem;
  max-width: 1100px;
  margin: auto;
}

.intro-img {
  display: inline-block;
  margin-bottom: 1rem;
  max-height: 75vh;
  max-width: 49%;
  vertical-align: middle;
}

.separator {
  display: inline-block;
  height: calc(100vh - 13.8rem);
  min-height: 37rem;
  vertical-align: middle;
}

.about-intro {
  display: inline-block;
  font-size: 1.4rem;
  line-height: 150%;
  width: 48%;
  vertical-align: middle;
}

@media screen and (max-width: 900px) {
  

  .intro-img {
    display: block;
    margin: auto;
    max-width: 23rem;
    width: 60%;
  }

  .separator {
    display: none;
  }

  .about-intro {
    margin-top: 3rem;
    width: 100%;
  }
}

@media screen and (max-width: $mobile_width) {
  #about {
    padding-left: 3rem;
    padding-right: 3rem;
  }

}
