// Animation helpers
$ease-in-out: cubic-bezier(0.445, 0.050, 0.550, 0.950);
$ease-in: cubic-bezier(0.470, 0.000, 0.745, 0.715);
$ease-out: cubic-bezier(0.390, 0.575, 0.565, 1.000);

$mobile_width: 640px;
$min_width: 320px;

.fullscreen {
  background-size: cover;
  height: 100vh;
  min-width: 32rem;
  text-align: center;
  width: 100vw;
}

.hidden {
  display: none;
}

.clearfix:after {
  content: " ";
  clear: both;
  display: table;
}
