$footer_height: 8rem;

html, body {
  background-color: $primary_lightest;
  color: $black;
  height: 100%;
  width: 100%;
}

#content {
  height: 100%;
  min-width: $min_width;
}

#top-banner {
  background-color: $primary;
  height: 0.3rem;
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 999;
}

#header-content {
  position: relative;
}

.header {
  @include box-sizing(border-box);
  @include box-shadow(1px 1px 2px 0px rgba(138, 138, 138, 0.16));
  background: $offwhite;
  line-height: 2rem;
  padding: 1.8rem 5rem 1.5rem;
  position: absolute;
  width: 100%;

  .mobile-menu-link {
    color: $pink_light;
    cursor: pointer;
    display: none;
    font-size: 3rem;
    height: 2rem;
    padding-right: 0.7rem;
    vertical-align: middle;

    [data-icon] {
      position: relative;
      top: -0.3rem;
    }
  }

  .logo {
    color: $pink_light;
    font-family: 'Lato', sans-serif;
    font-size: 1.8rem;
    font-weight: 400;
    letter-spacing: 0.15em;
    text-transform: uppercase;
    vertical-align: middle;
    &:hover, &.active {
      text-decoration: none;
    }
  }

  .header-links {
    bottom: 1.7rem;
    position: absolute;
    right: 5rem;

    a {
      color: $black;
      font-size: 1.2rem;
      padding-left: 2rem;
    }
  }

  &.affixed {
    position: fixed;
  }

  @media screen and (max-width: $mobile_width) {
    padding-left: 15px;
    padding-right: 15px;

    .mobile-menu-link {
      display: inline-block;
    }

    .header-links {
      bottom: 1.4rem;
      right: 15px;
    }
  }

}

.content-page {
  @include box-sizing(border-box);
  background: white;
  margin: auto;
  min-height: 100vh;
  overflow: auto;
  padding-bottom: $footer_height;
  padding-top: 5.8rem;
}

#footer {
  @include box-sizing(border-box);
  bottom: $footer_height;
  color: #DDD;
  font-size: 1.2rem;
  line-height: 5rem;
  position: relative;
  width: 100%;
  text-align: center;
  padding-top: 3rem;
}
