html, body {
  background-color: $primary_lightest;
  color: $black;
  height: 100%;
  width: 100%;
}

#content {
  height: 100%;
}

#top-banner {
  background-color: $primary;
  height: 0.3rem;
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 999;
}

#header-content {
  position: relative;
}

.header {
  @include box-sizing(border-box);
  @include box-shadow(1px 1px 2px 0px rgba(138, 138, 138, 0.16));
  background: $offwhite;
  line-height: 2rem;
  padding: 1.8rem 5rem 1.5rem;
  position: absolute;
  width: 100%;

  .logo {
    color: $pink_light;
    font-family: 'Lato', sans-serif;
    font-size: 1.8rem;
    font-weight: 400;
    letter-spacing: 0.15em;
    text-transform: uppercase;
    &:hover, &.active {
      text-decoration: none;
    }
  }

  .header-links {
    bottom: 1.7rem;
    position: absolute;
    right: 5rem;

    a {
      color: $black;
      padding-left: 2rem;
    }
  }

  &.affixed {
    position: fixed;
  }
}

.content-page {
  @include box-sizing(border-box);
  background: white;
  margin: auto;
  min-height: 100vh;
  padding-top: 5.8rem;
}

#footer {
  @include box-sizing(border-box);
  bottom: 5rem;
  color: #DDD;
  position: relative;
  width: 100%;
  height: 5rem;
  text-align: center;
  padding: 1rem;
}
