/* Welcome to Compass.
 * In this file you should write your main styles. (or centralize your imports)
 * Import this file using the following HTML or equivalent:
 * <link href="/stylesheets/screen.css" media="screen, projection" rel="stylesheet" type="text/css" /> */
@import url(http://fonts.googleapis.com/css?family=Montserrat:400,700);
@import url(http://fonts.googleapis.com/css?family=Lato:100,300,400,700);
@import url(http://fonts.googleapis.com/css?family=Antic+Slab);
@import url(http://fonts.googleapis.com/css?family=Glegoo|Antic+Slab|Fauna+One|Cutive+Mono|PT+Mono|Special+Elite);
/* line 5, ../../../../../../Library/Ruby/Gems/2.0.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font: inherit;
  font-size: 100%;
  vertical-align: baseline;
}

/* line 22, ../../../../../../Library/Ruby/Gems/2.0.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
html {
  line-height: 1;
}

/* line 24, ../../../../../../Library/Ruby/Gems/2.0.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
ol, ul {
  list-style: none;
}

/* line 26, ../../../../../../Library/Ruby/Gems/2.0.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
table {
  border-collapse: collapse;
  border-spacing: 0;
}

/* line 28, ../../../../../../Library/Ruby/Gems/2.0.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
caption, th, td {
  text-align: left;
  font-weight: normal;
  vertical-align: middle;
}

/* line 30, ../../../../../../Library/Ruby/Gems/2.0.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
q, blockquote {
  quotes: none;
}
/* line 103, ../../../../../../Library/Ruby/Gems/2.0.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
q:before, q:after, blockquote:before, blockquote:after {
  content: "";
  content: none;
}

/* line 32, ../../../../../../Library/Ruby/Gems/2.0.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
a img {
  border: none;
}

/* line 116, ../../../../../../Library/Ruby/Gems/2.0.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
article, aside, details, figcaption, figure, footer, header, hgroup, main, menu, nav, section, summary {
  display: block;
}

/* Color Palatte */
/* End Color Palatte */
/* line 7, ../sass/_fonts.scss */
html {
  font-size: 62.5%;
  font-family: 'Fauna One', 'Helvetica', 'Arial', serif;
}

/* line 12, ../sass/_fonts.scss */
a {
  color: #fc969f;
  text-decoration: none;
}
/* line 16, ../sass/_fonts.scss */
a:hover {
  text-decoration: underline;
}

/* line 6, ../sass/_helpers.scss */
.fullscreen {
  background-size: cover;
  height: 100vh;
  min-width: 32rem;
  text-align: center;
  width: 100vw;
}

/* line 20, ../sass/_helpers.scss */
.loading-squares {
  width: 2rem;
  height: 2rem;
  transform: rotate(-45deg);
  position: absolute;
  top: 0;
  left: 0;
  margin: auto;
  right: 0;
}

@keyframes square-anim {
  0% {
    transform: translate3d(-1rem, -1rem, 0);
  }
  100% {
    transform: translate3d(1rem, 1rem, 0);
  }
}
/* line 40, ../sass/_helpers.scss */
.loading-square {
  animation: square-anim 1s cubic-bezier(0.445, 0.05, 0.55, 0.95) infinite alternate;
  height: 2rem;
  position: absolute;
  width: 2rem;
  z-index: 1;
}

/* line 48, ../sass/_helpers.scss */
.square-left {
  background: rgba(252, 150, 159, 0.7);
  left: 0;
  top: 0;
}

/* line 54, ../sass/_helpers.scss */
.square-right {
  animation-direction: alternate-reverse;
  background: rgba(134, 226, 213, 0.7);
  bottom: 0;
  right: 0;
}

@keyframes intersect-anim {
  0% {
    transform: scale(0, 0) rotateY(0);
    animation-timing-function: cubic-bezier(0.47, 0, 0.745, 0.715);
  }
  50% {
    transform: scale(1, 1) rotateY(0);
    animation-timing-function: cubic-bezier(0.39, 0.575, 0.565, 1);
  }
  100% {
    transform: scale(0, 0) rotateY(0);
  }
}
/* line 75, ../sass/_helpers.scss */
.intersection-square {
  animation: intersect-anim 1s ease-in infinite;
  background: #ffe8c0;
  bottom: 0;
  left: 0;
  position: absolute;
  top: 0;
  right: 0;
  z-index: 2;
}

/* line 86, ../sass/_helpers.scss */
.hidden {
  display: none;
}

/* line 1, ../sass/_layout.scss */
html, body {
  background-color: #ebfefb;
  height: 100%;
  width: 100%;
}

/* line 7, ../sass/_layout.scss */
#content {
  height: 100%;
}

/* line 11, ../sass/_layout.scss */
#top-banner {
  background-color: #86e2d5;
  height: 0.5rem;
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 999;
}

/* line 20, ../sass/_layout.scss */
#header-content {
  position: relative;
}

/* line 24, ../sass/_layout.scss */
.header {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  -moz-box-shadow: 1px 1px 2px 2px rgba(138, 138, 138, 0.16);
  -webkit-box-shadow: 1px 1px 2px 2px rgba(138, 138, 138, 0.16);
  box-shadow: 1px 1px 2px 2px rgba(138, 138, 138, 0.16);
  background: #fcfdfc;
  line-height: 2rem;
  padding: 2rem 2rem 1.5rem;
  position: absolute;
  width: 100%;
}
/* line 33, ../sass/_layout.scss */
.header .logo {
  color: #fdc8cc;
  font-family: 'Lato', sans-serif;
  font-size: 1.8rem;
  font-weight: 400;
  letter-spacing: 0.15em;
  text-transform: uppercase;
}
/* line 40, ../sass/_layout.scss */
.header .logo:hover, .header .logo.active {
  text-decoration: none;
}
/* line 45, ../sass/_layout.scss */
.header .header-links {
  bottom: 1.7rem;
  position: absolute;
  right: 2rem;
}
/* line 50, ../sass/_layout.scss */
.header .header-links a {
  color: #5c5c5c;
  padding-left: 2rem;
}
/* line 56, ../sass/_layout.scss */
.header.affixed {
  position: fixed;
}

/* line 61, ../sass/_layout.scss */
.content-page {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  background: white;
  min-height: 100vh;
  padding: 12rem 10rem;
}

/* line 2, ../sass/_splash.scss */
#splash {
  background-image: url("../img/photos/home_bg.jpg");
  background-attachment: fixed;
  background-position: center;
}

/* line 8, ../sass/_splash.scss */
.green-tint {
  background-color: rgba(175, 236, 227, 0.11);
  height: 100vh;
  width: 100vw;
}

/* line 14, ../sass/_splash.scss */
.splash-placeholder {
  bottom: 0;
  height: 2.5rem;
  left: 0;
  margin: auto;
  position: ABSOLUTE;
  right: 0;
  top: 0;
  width: 6rem;
}

/* line 26, ../sass/_splash.scss */
.splash-poster {
  -moz-transition: all 0.4s ease-in;
  -o-transition: all 0.4s ease-in;
  -webkit-transition: all 0.4s ease-in;
  transition: all 0.4s ease-in;
  -moz-transition-delay: 0.1s;
  -o-transition-delay: 0.1s;
  -webkit-transition-delay: 0.1s;
  transition-delay: 0.1s;
  background-color: rgba(253, 253, 252, 0.9);
  bottom: 0;
  cursor: pointer;
  left: 0;
  height: 0;
  margin: 38vh auto;
  max-width: 90vw;
  min-width: 28rem;
  opacity: 0;
  overflow: hidden;
  position: absolute;
  right: 0;
  text-align: Center;
  top: 0;
  width: 32rem;
}
/* line 45, ../sass/_splash.scss */
.splash-poster .poster-name {
  -moz-transition: top 0.5s ease-in;
  -o-transition: top 0.5s ease-in;
  -webkit-transition: top 0.5s ease-in;
  transition: top 0.5s ease-in;
  color: #5c5c5c;
  font-family: 'Lato', sans-serif;
  font-size: 1.8rem;
  letter-spacing: 0.25rem;
  line-height: 180%;
  position: absolute;
  top: -3rem;
  width: 100%;
}
/* line 57, ../sass/_splash.scss */
.splash-poster .poster-subtitle {
  -moz-transition: top 0.5s ease-in;
  -o-transition: top 0.5s ease-in;
  -webkit-transition: top 0.5s ease-in;
  transition: top 0.5s ease-in;
  color: #5c5c5c;
  font-family: 'Cutive Mono', serif;
  font-size: 1.1rem;
  line-height: 150%;
  position: absolute;
  top: -3rem;
  width: 100%;
}
/* line 68, ../sass/_splash.scss */
.splash-poster .down-arrow {
  -moz-transition: all 0.4s ease-in;
  -o-transition: all 0.4s ease-in;
  -webkit-transition: all 0.4s ease-in;
  transition: all 0.4s ease-in;
  border-left: 2rem solid transparent;
  border-right: 2rem solid transparent;
  border-top: 1.7rem solid #fc969f;
  bottom: -3rem;
  display: inline-block;
  height: 0;
  margin-left: -2rem;
  opacity: 0;
  position: absolute;
  width: 0;
}
/* line 82, ../sass/_splash.scss */
.splash-poster.animate-show {
  -moz-animation: indicator-show 1s forwards;
  -webkit-animation: indicator-show 1s forwards;
  animation: indicator-show 1s forwards;
  height: 15rem;
  opacity: 1;
}
/* line 87, ../sass/_splash.scss */
.splash-poster.animate-show .poster-name, .splash-poster.animate-show .poster-subtitle {
  -moz-transition-delay: 0.5s;
  -o-transition-delay: 0.5s;
  -webkit-transition-delay: 0.5s;
  transition-delay: 0.5s;
}
/* line 91, ../sass/_splash.scss */
.splash-poster.animate-show .poster-name {
  top: 4.5rem;
}
/* line 95, ../sass/_splash.scss */
.splash-poster.animate-show .poster-subtitle {
  top: 7.7rem;
}
/* line 99, ../sass/_splash.scss */
.splash-poster.animate-show .down-arrow {
  -moz-animation: temp-transition-delay 1s forwards;
  -webkit-animation: temp-transition-delay 1s forwards;
  animation: temp-transition-delay 1s forwards;
  opacity: 0.5;
}
/* line 104, ../sass/_splash.scss */
.splash-poster.animate-show:hover {
  background-color: #fdfdfc;
}
/* line 106, ../sass/_splash.scss */
.splash-poster.animate-show:hover .down-arrow {
  opacity: 1;
}

@keyframes indicator-show {
  0%, 99% {
    overflow: hidden;
  }
  100% {
    -moz-transition-delay: 0s;
    -o-transition-delay: 0s;
    -webkit-transition-delay: 0s;
    transition-delay: 0s;
    overflow: visible;
  }
}
@keyframes temp-transition-delay {
  0%, 99% {
    -moz-transition-delay: 1s;
    -o-transition-delay: 1s;
    -webkit-transition-delay: 1s;
    transition-delay: 1s;
  }
  100% {
    -moz-transition-delay: 0s;
    -o-transition-delay: 0s;
    -webkit-transition-delay: 0s;
    transition-delay: 0s;
  }
}
@media screen and (max-width: 450px) {
  /* line 137, ../sass/_splash.scss */
  .splash-poster {
    margin-top: 30vh;
  }
}
