<div id="about" class="clearfix">
  <img src="/img/photos/quartzcluster.jpg" class="intro-img" />
  <div class="separator"></div>
  <p class="about-intro">
    Hello! My name is Tatiana. Welcome to my website!
    <br><br>
    I am a web developer at HealthTap. For fun I like to take pictures, fly, garden, and collect gemstones!
    <br><br>
    While designing this site, I was inspired by gemstones and watermelon. Gemstones are so beautifully geometric, and watermelon has always been an obsession of mine.
    <br><br>
    I also wanted to create this site so I could experiment with the latest web technologies. In this version I am using Node and Express for my server logic, and Angular for my client logic. 
    <br><br>
    This site is my playground to create new things and to organize my past creations. There are some hidden easter eggs throughout, so have fun exploring! :)
  </p>
</div>

