
<!-- 
<div class="color-boxes">
  <div class="color-column">
    <div class="primary_lightest color-box"></div>
    <div class="primary_lighter color-box"></div>
    <div class="primary_light color-box"></div>
    <div class="primary color-box"></div>
    <div class="primary_dark color-box"></div>
    <div class="primary_darker color-box"></div>
  </div>

  <div class="color-column pink-column">
    <div class="pink_lighter color-box"></div>
    <div class="pink_light color-box"></div>
    <div class="pink color-box"></div>
    <div class="pink_dark color-box"></div>
    <div class="pink_darker color-box"></div>
  </div>

  <div class="color-column yellow-column">
    <div class="yellow_lighter color-box"></div>
    <div class="yellow_light color-box"></div>
    <div class="yellow color-box"></div>
    <div class="yellow_dark color-box"></div>
    <div class="yellow_darker color-box"></div>
  </div>

</div>
 -->